<div class="container my-3">

  <h1>Stupid coaching</h1>

  <form action="/answer" data-turbo="false" class="">
    <label for="question" class="form-label">Ask your question</label>
    <div class="mb-3 input-group">
      <input type="text" name="question" id="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>

</div>
